<div class="jumbotron center">
		<h1>Tuna Pig</h1>
		<h3>A Place For Startup Memes</h3>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
		</p>	
</div>
