<div class="jumbotron">
	<h1>About Tuna Pig</h1>
	<h2>What is Tuna Pig?</h2>
	<p>TunaPig.com is a place to share pins and their corosponding stories about funny experiences while living the startup life. Building a startup is hard and it's important to capture the fun moments along the way. These moments are what build your company's culture and ultimatly attract others to your team. Share your fun moments!</p>
	<h2>Why the name?</h2>
	<p>The name Tuna Pig came from a branding exercise gone wild. No body could actually think of a good name for a product that we were launching at the time and Tuna Pig was born!</p>
	
</div>