<div class="jumbotron">
	<h1>About us</h1>
	<h2>The Team</h2>
	<h4>Alex Keahaya</h4>
	<h5>CEO and Co-Founder</h5>
	<h4>Max James</h4>
	<h5>COO and Co-Founder</h5>
	<h4>David Gaultiere</h4>
	<h5>Growth Marketing</h5>
	<h4>Trevor Zarker</h4>
	<h5>Community Manager</h5>

	<h2>Why are we taking OMR?</h2>

	<h4>We intend to learn how to build our own web applications so that we can rapidly prototype our MVPs and get customers!</h4>
</div>