
<h1>One Month Rails Course</h1>
<h2>About us</h2>
<h4>The Team</h4>
<h5>Alex Keahaya</h5>
<h6>CEO and Co-Founder</h6>
<h5>Max James</h5>
<h6>COO and Co-Founder</h6>
<h5>David Gaultiere</h5>
<h6>Growth Marketing</h6>